html, body {
  height:100%;
  margin: 0;
}


body {
  background-image:url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
}

.row{
  position:relative;
  margin-left:10%;
  margin-right:10%;
  text-align: center;
}

.clear {
  clear:both;
}

.white, .black{
  border: 1px solid black;
  width: 10%;
  height: 60px;
  float:left;
}

.white {
  background-color:white;
}

.black{
  background-color:#787878;
}

#footer {
  padding-top: 10px;
  margin-top:10px;
  text-align: center;
}

  #container {
    margin-top:15%;
    margin-left:15%;
    margin-right:5%;
    margin-bottom:0%;
  }
#title {
  position:fixed;
  top:0px;
  left:0px; 
  padding:5px;
  margin:0px;
  width:100%;
  background-color: darkturquoise;
  text-align:center; 
  z-index:10;
  font-family: 'BebasNeueBold'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 50px;
  letter-spacing: 30px
}